.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    padding: 18px;
    box-shadow: 0.1px 0.1px 10px 0px rgba(0, 0, 0, .14);
    gap: 26px;
}

.memberPic {
    max-width: 220px;
}

.cardWrapper, .memberPic {
    border-radius: 7%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 4px
}
