.container {
    position: relative;
    width: 40rem;
    max-width: 80vw;

    overflow: hidden;
}

.container a {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;

    background-color: #f3f3f3;
    border-bottom: 1px solid #eaeaea;
}

.image {
    object-fit: cover;
    pointer-events: none;
}

.text_content_wrapper {
    flex: 1;
    width: 100%;
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(8rem / 15);
}

.text_content_wrapper .title_wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.text_content_wrapper h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--color-blue);

    text-decoration: underline;
    text-decoration-color: rgba(var(--color-blue-rgb), 0);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    transition: text-decoration-color 0.15s ease;
}

.text_content_wrapper h3 span {
    font-weight: 300;
    font-size: 1rem;
    color: #c7c7c7;
}

.text_content_wrapper p {
    flex: 1;
    margin-bottom: 8px;

    font-size: 1rem;
    font-weight: 400;
    color: #023047;
    line-height: 1.5;
}

.tags_container {
    font-family: 'Krub';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.15;

    color: #acacac;
}
