.container {
    height: fit-content;
    width: 100%;
    max-width: 1000px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

.contact_element {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 20px;
}

.contact_element .icon {
    align-self: center;
    width: 100%;
    height: 100%;

    color: var(--color-purple);
}

.contact_element .description {
    font-family: 'Krub', sans-serif;

    display: flex;
    flex-direction: column;
    gap: calc(8rem / 16);
}

.contact_element .description h2 {
    font-size: calc(20rem / 16);
    font-weight: 600;

    color: var(--color-blue);
}

.contact_element .description p {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    color: #023047;
}

.contact_element .description a {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    color: #3e7fd0;

    text-decoration: underline;
    text-decoration-color: #3292ff00;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    transition: text-decoration-color 0.1s ease;
}

.contact_element .description a:hover {
    text-decoration-color: #3e7fd0;
}

@media (max-width: 62.5rem) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}
