.divider {
    width: 100%;
}

.page_border {
    margin-top: 4rem;
}

.divider {
    height: 4rem;
}

@media (min-width: 62.5rem) {
    /* 62.5rem = 1000px */
}

@media (max-width: 62.5rem) {
    /* 62.5rem = 1000px */
}
