.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_wrapper {
    width: fit-content;

    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-gap: 28px;
    justify-items: center;
}

@media screen and (max-width: 1400px) {
    .grid_wrapper {
        grid-template-columns: repeat(3, 256px);
    }
}

@media screen and (max-width: 62.5rem) {
    .grid_wrapper {
        grid-template-columns: repeat(2, 256px);
    }
}

@media screen and (max-width: 37.5rem) {
    .grid_wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}
