.button {
    position: relative;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    background-color: transparent;
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, var(--color-purple) 0%, var(--color-blue) 100%);
    color: var(--color-white);

    font-family: 'KoHo', sans-serif;
    font-size: calc(14rem / 16);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;

    padding: calc(10.5rem / 16) calc(23rem / 16);
    border-radius: calc(1400rem / 16);

    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.arrow {
    height: calc(12rem / 16);
    width: auto;
}
