.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 10px 15%;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title {
    margin-top: 12px;
    margin-bottom: 48px;
}
