.button {
    font-size: calc(16rem / 16);
    font-weight: 500;
    text-transform: capitalize;

    text-decoration: underline;
    text-decoration-color: rgba(var(--color-purple-rgb), 0);
    text-underline-offset: calc(6rem / 16);
    text-decoration-thickness: 1.5px;

    transition: text-decoration-color 0.1s ease-in-out;
}

.button:hover {
    text-decoration-color: rgba(var(--color-purple-rgb), 1);
}

.button.selected {
    color: var(--color-purple);
}
