.mainContainer {
    min-height: calc(100vh - 10.3125rem);
    width: 100%;
    max-width: 84rem;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
}

.textContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.textContainer h1 {
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.22;
    letter-spacing: 0.025rem;
    color: var(--color-blue);
}

.imageContainer {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer {
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: var(--color-purple);
    font-weight: bold;

    animation-duration: 1.125s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.575, 0.215, 0.88, 0.205);
    animation-name: bounce;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(18px);
    }
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        width: 85%;
    }

    .contentWrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .textContainer,
    .imageContainer {
        flex: initial;
    }

    .textContainer h1 {
        font-size: 3rem;
    }

    .iconContainer {
        margin-top: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .mainContainer {
        padding-top: 5.125rem;
    }

    .imageContainer {
        display: none;
    }

    .iconContainer {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .textContainer h1 {
        font-size: 2.5rem;
    }
}
