.container {
    width: 100%;
    height: fit-content;
    padding: 15vh 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title {
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-size: calc(64rem / 16);
    line-height: 1.15;
    color: var(--color-blue);

    white-space: pre-line;
    text-align: center;
}

.title .gradient {
    background: linear-gradient(150deg, #d8965c 29.68%, #b5519f 99.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    color: rgb(107, 107, 107);
    font-size: 1rem;

    text-decoration: underline;
    text-decoration-color: rgba(107, 107, 10, 0);
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;

    transition: text-decoration-color 0.2s ease-in-out;
}

.link:hover {
    text-decoration-color: rgba(107, 107, 10, 0.4);
}
