.container {
    display: flex;
    flex-direction: column;
    gap: var(--title-bottom-gap);
}

.container p {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(16rem / 16);
    line-height: 1.75;
    color: #023047;

    white-space: pre-line;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.container br {
    content: '';
    margin: 1rem;
    display: block;
}

.container a {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16rem / 16);
    line-height: 150%;

    color: #3e7fd0;

    text-decoration: underline;
    text-decoration-color: #3292ff00;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    transition: text-decoration-color 0.1s ease;
}

.container a:hover {
    text-decoration-color: #3e7fd0;
}
