:root {
    /* HEX Colors */
    --color-purple: #82337e;
    --color-pink: #f3daf1;
    /* --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-color-2644648: #4054b2;
    --e-global-color-3f8b8c84: #23a455;
    --e-global-color-2573139f: #000;
    --e-global-color-30566fa4: #fff;
    --e-global-color-73bc07f: #023047; */

    /* RGB Color */
    --color-purple-rgb: 130, 51, 126;
    --color-pink-rgb: 243, 218, 241;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-family: 'Krub', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    all: unset;
    cursor: pointer;
}

::-moz-selection {
    background: rgba(var(--color-pink-rgb), 0.5);
}
::selection {
    background: rgba(var(--color-pink-rgb), 0.5);
}

