:root {
    /* HEX Colors */
    --color-purple: #82337e;
    --color-pink: #f3daf1;
    --color-blue: #023047;
    --color-yellow: #fcbf49;
    --color-orange: #f98222;
    --color-white: #fff;
    --color-whatsapp: #25d366;
    --color-black-gray: #444;
    --color-light-blue: #1691aa;
    --color-text: #242328;

    /* RGB Color */
    --color-purple-rgb: 130, 51, 126;
    --color-pink-rgb: 243, 218, 241;
    --color-blue-rgb: 2, 48, 71;
    --color-yellow-rgb: 252, 191, 73;
    --color-orange-rgb: 249, 130, 34;
    --color-white-rgb: 255, 255, 255;
    --color-whatsapp-rgb: 37, 211, 102;
    --color-black-gray-rgb: 68, 68, 68;
    --color-light-blue-rgb: 22, 145, 170;

    /* Gradients */
    --gradient-purple: linear-gradient(150deg, var(--color-purple) 0%, var(--color-blue) 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-family: 'Krub', sans-serif;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    all: unset;
    cursor: pointer;
}

::-moz-selection {
    background: rgba(151, 216, 229, 0.4);
}
::selection {
    background: rgba(162, 218, 230, 0.4);
}
