:root {
    /* HEX Colors */
    --color-purple: #82337e;
    --color-pink: #f3daf1;
    --color-blue: #023047;
    --color-white: #fff;
    --color-whatsapp: #25d366;
    --color-black-gray: #444;
    --color-light-blue: #1691aa;
    /* --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-color-2644648: #4054b2;
    --e-global-color-3f8b8c84: #23a455;
    --e-global-color-2573139f: #000; */

    /* RGB Color */
    --color-purple-rgb: 130, 51, 126;
    --color-pink-rgb: 243, 218, 241;
    --color-blue-rgb: rgb(2, 48, 71);
    --color-white-rgb: rgb(255, 255, 255);
    --color-whatsapp-rgb: rgb(37, 211, 102);
    --color-black-gray-rgb: rgb(68, 68, 68);
    --color-light-blue-rgb: rgb(22, 145, 170);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-family: 'Krub', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    all: unset;
    cursor: pointer;
}

h4 {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 1.375em;
    line-height: 1.15;
    color: #023047;
    text-align: center;
}

h5 {
    color: #000;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    font-family: 'Krub', sans-serif;
}

::-moz-selection {
    background: rgba(var(--color-pink-rgb), 0.5);
}
::selection {
    background: rgba(var(--color-pink-rgb), 0.5);
}
