.link_button {
    background: whitesmoke;
    border-radius: 0.9rem;
    padding: 0.7rem;
    min-width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.link_button:hover {
    transform: scale(1.1);
}
.link_button_text {
    font-family: 'KoHo';
    font-display: swap;
    font-size: 1.2rem;
    font-weight: 700;
    color: #82337e;
    text-decoration: none;
    src: url(https://fonts.gstatic.com/s/koho/v16/K2FzfZ5fmddNNisssJ_DJaql.woff2) format('woff2');
}

