.container {
    min-width: 240px;
    width: 240px;
    height: 100%;
    aspect-ratio: 0.8;

    padding: 12px;

    background-color: white;
    border-radius: 6%;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.25s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container * {
    text-align: center;
}

.container:hover {
    box-shadow: 0 0 10px 0px rgba(var(--color-purple-rgb), 0.25);
}

.image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 4%;

    background-color: #f3f3f3;
}

.image {
    object-fit: cover;
    pointer-events: none;
}

.text_container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(4rem / 16);
}

.text_container > h4 {
    line-height: 1.15;
    color: var(--color-blue);
    font-size: calc(16rem / 16);
}

.text_container > h5 {
    font-weight: 400;
    color: black;
    font-size: calc(14rem / 16);
}

@media screen and (max-width: 1400px) {
    .container {
        min-width: 200px;
        width: 200px;
    }

    .text_container {
        gap: calc(6rem / 16);
    }

    .text_container > h4 {
        font-size: calc(14rem / 16);
    }

    .text_container > h5 {
        font-size: calc(12rem / 16);
    }
}

@media (max-width: 256px) {
    .container {
        width: 100%;
    }
}
