.container {
    width: 100%;
    height: fit-content;
    padding: calc(40px + 26px) 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}

.about_description {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about_description > p {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(16rem / 16);
    line-height: 1.75;
    color: #023047;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
}

.text_card {
    padding: 24px;
    font-family: 'Krub', sans-serif;
}

.text_card h2 {
    font-size: calc(60rem / 16);
    font-weight: 700;
    line-height: 1.2;

    background: linear-gradient(90deg, #a656a2 6.77%, #0e222d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text_card h3 {
    margin-right: 16px;

    font-size: calc(24rem / 16);
    font-weight: 600;
    line-height: 1.2;

    background: var(--gradient-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text_card p {
    margin-top: 14px;

    font-size: calc(14rem / 16);
    line-height: 1.5;
    font-weight: normal;
    color: var(--color-blue);

    white-space: pre-line;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.logo_card {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    shape-rendering: geometricPrecision;
}

.logo_card .pixel_logo {
    width: 80%;
}

/* First row */
.stats > .card:nth-child(2n-1) {
    transform: translateY(-100px);
    opacity: 0;

    animation: fadeFromTop 3s cubic-bezier(0.14, 0.54, 0.09, 1) forwards;
}

/* Second row */
.stats > .card:nth-child(2n) {
    transform: translateY(100px);
    opacity: 0;

    animation: fadeFromBottom 3s cubic-bezier(0.14, 0.54, 0.09, 1) forwards;
}

.stats > .card:nth-child(3) {
    animation-delay: 0.2s;
}
.stats > .card:nth-child(1) {
    animation-delay: 0.5s;
}

.stats > .card:nth-child(2) {
    animation-delay: 1s;
}
.stats > .card:nth-child(4) {
    animation-delay: 1.3s;
}

@keyframes fadeFromTop {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(-26px);
    }
}

@keyframes fadeFromBottom {
    from {
        opacity: 0;

        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(26px);
    }
}
