.button {
    font-size: calc(16rem / 16);
    font-weight: 500;
    text-transform: capitalize;

    color: #666;
    transition: color 0.15s ease-in-out;
}

.button:hover {
    color: var(--color-blue);
}

.button.selected {
    color: var(--color-purple);
}
