.form {
    display: flex;
    flex-direction: column;
    align-items: left;

    gap: 28px;
    width: 50%;
}

.form_element {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    width: 100%;
    text-align: left;

    font-family: 'Krub', sans-serif;
    font-weight: 500;
}

.input,
.textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;

    font-family: 'Krub', sans-serif;
    font-size: calc(14rem / 16);

    transition: border 0.25s ease-in-out 0s;
}

.input::placeholder,
.textarea::placeholder {
    color: #444444;

    font-family: 'Krub', sans-serif;
    font-size: calc(14rem / 16);

    transition: color 0.15s ease-in-out 0s;
}

.input:focus,
.textarea:focus {
    outline: none;
    border: 1px solid rgba(129, 51, 125, 0.37);
}

.input:focus::placeholder,
.textarea:focus::placeholder {
    color: #83838300;
}

.label {
    color: var(--color-purple);
}

.textarea {
    resize: none;
    height: 160px;
    line-height: 1.5;
}

.textarea::-webkit-scrollbar-track {
    -webkit-appearance: none;
    display: none;
}

.textarea::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

.textarea::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    display: none;
}

.submit_button {
    margin-top: 10px;
    width: 200px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .form {
        width: 80%;
    }
}
