.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.input,
.textarea {
    width: 100%;
}

@media (max-width: 768px) {
    .form {
        width: 80%;
    }
}
