.processoSeletivo {
    width: 100%;
    max-width: 82.5rem;
    margin: 4rem auto 0;
    padding: 0 1.125rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.processoSeletivo > div > h1 {
    font-size: 3.125rem;
}

.processoSeletivo > div > p {
    margin-top: 2rem;

    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text);
}

.processoSeletivo > div > p > strong {
    font-weight: 600;
}

.subscribeBtn {
    position: relative;
    overflow: hidden;

    width: 10.625rem;
    margin: 0 auto 1rem;
    border-radius: 1300px;
    padding: 1rem 2rem;

    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

.subscribeBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--color-purple);
}

.subscribeBtn::after {
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;

    border-radius: 50%;
    z-index: -1;
    background-color: var(--color-blue-rgb);

    transform: scale(0, 0);
    transition: transform 0.75s cubic-bezier(0.26, 0.1, 0.08, 1);
}

.subscribeBtn:hover::after {
    transform: scale(6, 6);
}

@media screen and (max-width: 75rem) {
    .processoSeletivo {
        grid-template-columns: 1fr;
        gap: 0;
        justify-items: center;
        align-items: start;
    }

    .processoSeletivo > div {
        width: 80%;
    }
}

@media screen and (max-width: 40rem) {
    .processoSeletivo {
        margin-bottom: 6rem;
    }

    .processoSeletivo > div {
        width: 100%;
    }

    .processoSeletivo > div > h1 {
        font-size: 2.8125rem;
    }

    .processoSeletivo > img {
        display: none;
    }
}

@media screen and (max-width: 24rem) {
    .processoSeletivo > div > h1 {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 18.75rem) {
    .processoSeletivo > div > h1 {
        font-size: 1.75rem;
    }

    .processoSeletivo > div > p {
        font-size: 1rem;
    }
}
