.container {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
    align-items: center;
    justify-items: center;

    column-gap: 8%;
    row-gap: 0;
    grid-template-areas: 'description mockup';

    padding: 0 10%;
}

.title {
    width: 100%;
    text-align: left;
}

.description {
    display: flex;
    flex-direction: column;

    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(16rem / 16);
    line-height: 1.75;
    color: #023047;

    white-space: pre-line;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.description {
    grid-area: description;
    padding: 0;
}
.description > .title {
    margin-bottom: 12px;
}
.description > p.primary {
    margin-bottom: 8px;
    font-size: calc(20rem / 16);
    font-weight: 500;
}
.description > p.secondary {
    margin-bottom: 24px;
    font-weight: 400;
}

.mockup {
    grid-area: mockup;
    position: relative;
    display: flex;
    justify-content: center;

    /* min-height: 200px;
    height: 100%;
    max-height: 40vh; */

    min-width: 460px;
    width: 30vw;
    max-height: 50vh;

    aspect-ratio: 2055/1271; /* Image's height/width */
}

.mockup > .computer_image {
    z-index: 2;
}

.mockup > .site_image_container {
    position: absolute;
    top: 1.2%;
    z-index: 1;
    width: 83%;
    height: 87%;
    background-color: #ececec;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        column-gap: 0;
        row-gap: 8%;
        grid-template-areas: 'description';
    }

    .mockup {
        display: none;
    }
}
