.contentWrapper {
    width: 100%;
    padding: 2rem 10%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

    white-space: pre-line;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.lastModification {
    align-self: flex-end;
    margin-top: -0.5rem;
}

.contentWrapper span {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-black-gray);
}
