.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 40px 10%;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: var(--title-bottom-gap);
}

.text_container p {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(16rem / 16);
    line-height: 1.75;
    color: #023047;

    white-space: pre-line;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.text_container br {
    content: '';
    margin: 1rem;
    display: block;
}

.about_text_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.container a {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16rem / 16);
    line-height: 150%;

    color: #3e7fd0;

    text-decoration: underline;
    text-decoration-color: #3292ff00;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    transition: text-decoration-color 0.1s ease;
}

.container a:hover {
    text-decoration-color: #3e7fd0;
}

.card_container {
    width: min-content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
}
