.intro_loja_container {
    position: relative;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.intro_loja_container .title {
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    font-size: calc(64rem / 16);
    line-height: 1.15;
    color: var(--color-blue);
    white-space: pre-line;
    text-align: center;
}
.intro_loja_container .title .gradient {
    color: black;
    background: linear-gradient(125.64deg, #fa8400 0.5%, #df5e4c 10.07%, #82337e 40.07%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro_loja_container .icon_wrapper {
    pointer-events: none;

    height: 280px;
    width: 280px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pixel_icon {
    height: 100%;
    width: 100%;

    -webkit-mask: url('data:image/svg+xml;utf8,<svg width="392" height="392" viewBox="0 0 392 392" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M189.952 255.975L189.951 255.976L113.925 350.892C109.852 355.973 113.47 363.5 119.975 363.5H272.027C278.531 363.5 282.15 355.974 278.077 350.892L202.051 255.976L202.05 255.975C198.947 252.096 193.054 252.096 189.952 255.975ZM160.354 193.203L85.3858 63.355C83.2341 59.643 77.8728 59.643 75.7211 63.355L0.753088 193.203C-0.251029 194.924 -0.251029 197.058 0.753088 198.78L75.7211 328.627C77.8728 332.339 83.2341 332.339 85.3858 328.627L160.354 198.78C161.358 197.058 161.358 194.924 160.354 193.203ZM82.7895 327.124C82.7897 327.124 82.79 327.123 82.7903 327.123L157.762 197.268C158.222 196.481 158.222 195.502 157.762 194.714L157.756 194.703L82.7903 64.8595C82.7899 64.8588 82.7895 64.8581 82.7891 64.8574C81.7928 63.1423 79.3141 63.1423 78.3179 64.8574C78.3174 64.8581 78.317 64.8588 78.3166 64.8595L3.34451 194.714C2.88517 195.502 2.88517 196.481 3.34448 197.268L3.35118 197.279L78.3166 327.123C78.3169 327.123 78.3172 327.124 78.3175 327.124C79.3136 328.84 81.7933 328.84 82.7895 327.124ZM231.646 198.78L306.614 328.627C308.766 332.339 314.127 332.339 316.279 328.627L391.247 198.78C392.251 197.058 392.251 194.924 391.247 193.203L316.279 63.355C314.127 59.643 308.766 59.643 306.614 63.355L231.646 193.203C230.642 194.924 230.642 197.058 231.646 198.78ZM309.211 64.8574C309.211 64.8581 309.21 64.8588 309.21 64.8595L234.238 194.714C233.778 195.502 233.778 196.481 234.238 197.268L234.244 197.279L309.21 327.123C309.21 327.123 309.21 327.124 309.211 327.124C310.207 328.84 312.686 328.84 313.682 327.124C313.683 327.124 313.683 327.123 313.683 327.123L388.655 197.268C389.115 196.481 389.115 195.502 388.656 194.714L388.649 194.703L313.683 64.8595C313.683 64.8588 313.683 64.8581 313.682 64.8574C312.686 63.1423 310.207 63.1423 309.211 64.8574ZM202.05 136.025L202.051 136.024L278.077 41.1085C282.15 36.0266 278.531 28.5 272.027 28.5H119.975C113.47 28.5 109.851 36.026 113.924 41.1078L189.951 136.024L189.952 136.025C193.054 139.904 198.947 139.904 202.05 136.025ZM187.609 254.101L111.583 349.016C105.935 356.063 110.956 366.5 119.975 366.5H272.027C281.046 366.5 286.066 356.063 280.418 349.016L204.392 254.101C200.089 248.721 191.913 248.721 187.609 254.101ZM204.392 137.899L280.418 42.984C286.066 35.9366 281.046 25.5 272.027 25.5H119.975C110.956 25.5 105.935 35.9366 111.583 42.984L187.609 137.899C191.913 143.279 200.089 143.279 204.392 137.899Z" fill="black"/></svg>')
        center/contain;
    mask: url('data:image/svg+xml;utf8,<svg width="392" height="392" viewBox="0 0 392 392" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M189.952 255.975L189.951 255.976L113.925 350.892C109.852 355.973 113.47 363.5 119.975 363.5H272.027C278.531 363.5 282.15 355.974 278.077 350.892L202.051 255.976L202.05 255.975C198.947 252.096 193.054 252.096 189.952 255.975ZM160.354 193.203L85.3858 63.355C83.2341 59.643 77.8728 59.643 75.7211 63.355L0.753088 193.203C-0.251029 194.924 -0.251029 197.058 0.753088 198.78L75.7211 328.627C77.8728 332.339 83.2341 332.339 85.3858 328.627L160.354 198.78C161.358 197.058 161.358 194.924 160.354 193.203ZM82.7895 327.124C82.7897 327.124 82.79 327.123 82.7903 327.123L157.762 197.268C158.222 196.481 158.222 195.502 157.762 194.714L157.756 194.703L82.7903 64.8595C82.7899 64.8588 82.7895 64.8581 82.7891 64.8574C81.7928 63.1423 79.3141 63.1423 78.3179 64.8574C78.3174 64.8581 78.317 64.8588 78.3166 64.8595L3.34451 194.714C2.88517 195.502 2.88517 196.481 3.34448 197.268L3.35118 197.279L78.3166 327.123C78.3169 327.123 78.3172 327.124 78.3175 327.124C79.3136 328.84 81.7933 328.84 82.7895 327.124ZM231.646 198.78L306.614 328.627C308.766 332.339 314.127 332.339 316.279 328.627L391.247 198.78C392.251 197.058 392.251 194.924 391.247 193.203L316.279 63.355C314.127 59.643 308.766 59.643 306.614 63.355L231.646 193.203C230.642 194.924 230.642 197.058 231.646 198.78ZM309.211 64.8574C309.211 64.8581 309.21 64.8588 309.21 64.8595L234.238 194.714C233.778 195.502 233.778 196.481 234.238 197.268L234.244 197.279L309.21 327.123C309.21 327.123 309.21 327.124 309.211 327.124C310.207 328.84 312.686 328.84 313.682 327.124C313.683 327.124 313.683 327.123 313.683 327.123L388.655 197.268C389.115 196.481 389.115 195.502 388.656 194.714L388.649 194.703L313.683 64.8595C313.683 64.8588 313.683 64.8581 313.682 64.8574C312.686 63.1423 310.207 63.1423 309.211 64.8574ZM202.05 136.025L202.051 136.024L278.077 41.1085C282.15 36.0266 278.531 28.5 272.027 28.5H119.975C113.47 28.5 109.851 36.026 113.924 41.1078L189.951 136.024L189.952 136.025C193.054 139.904 198.947 139.904 202.05 136.025ZM187.609 254.101L111.583 349.016C105.935 356.063 110.956 366.5 119.975 366.5H272.027C281.046 366.5 286.066 356.063 280.418 349.016L204.392 254.101C200.089 248.721 191.913 248.721 187.609 254.101ZM204.392 137.899L280.418 42.984C286.066 35.9366 281.046 25.5 272.027 25.5H119.975C110.956 25.5 105.935 35.9366 111.583 42.984L187.609 137.899C191.913 143.279 200.089 143.279 204.392 137.899Z" fill="black"/></svg>')
        center/contain;

    background: linear-gradient(
        300deg,
        rgba(0, 0, 0, 0.32) 30%,
        rgba(0, 0, 0, 0.05) 45%,
        rgba(0, 0, 0, 0.05) 45%,
        rgba(0, 0, 0, 0.32) 70%
    );
    opacity: 0.2;
    background-size: 400% 100%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

@media (max-width: 87.5rem) {
    .intro_loja_container .title {
        font-size: calc(56rem / 16);
    }
}

@media (max-width: 62.5rem) {
    .intro_loja_container {
        padding: 15vh 5%;
    }

    .intro_loja_container .title {
        font-size: calc(48rem / 16);
    }
}

@media (max-width: 35rem) {
    .intro_loja_container {
        padding: 15vh 5%;
    }

    .intro_loja_container .icon_wrapper {
        height: 220px;
        width: 220px;
    }

    .intro_loja_container .title {
        font-size: calc(38rem / 16);
    }
}

.about_loja_container {
    position: relative;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0vh 10%;
    display: flex;
    flex-direction: column;
    gap: var(--title-bottom-gap);
}

.about_loja_description {
    font-family: 'Krub', sans-serif;
    font-size: calc(16rem / 16);
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1.75;
    letter-spacing: 0.025em;
    text-align: justify;
    white-space: pre-line;
}

.product_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.product_section_infos {
    margin-top: 2.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    gap: 30px;
    padding: calc(20rem / 16);
}

.prodct_image {
    border-radius: 0.438rem;
}

.product_section_about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product_section_about_title {
    flex-shrink: 0;
    color: var(--color-purple);
    font-family: Krub;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.077rem;
    text-align: center;
}

.caractry_text_propriety,
.caractry_text {
    color: var(--color-text-gray);
    font-family: Krub;
    font-size: calc(28rem / 16);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.8px;
}

.caractry_text {
    font-weight: 400;
}

.buy_button {
    flex-shrink: 0;
    border-radius: 8px;
    background: linear-gradient(119deg, #82337e 29.47%, #023047 87.66%);
    text-align: center;
    padding: calc(8rem / 16) 0;
}

.buy_button_text {
    color: var(--color-white);
    text-align: center;
    font-family: Krub;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 1.175px;
}

.buy_section {
    width: 100%;
    max-width: calc(1200rem / 16);
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.buy_section p {
    font-family: Krub;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.55;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: Krub;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.image_content_desktop {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 88px;
}

.image_content_mobile {
    display: none;
}

.join_group_button {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

@media (max-width: 1200px) {
    .title {
        font-size: calc(40rem / 16);
    }

    .buy_section p {
        font-size: calc(20rem / 16);
    }

    .product_section_infos {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 90%;
    }

    .prodct_image {
        width: 25rem;
        height: auto;
    }
}

@media (max-width: 980px) {
    .image_content_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image_content_desktop {
        display: none;
    }

    .svg_image {
        padding-top: 2rem;
        width: 60%;
        height: auto;
    }
}

@media (max-width: 560px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_content p {
        font-size: 1rem;
        line-height: 1.75;
    }

    .title {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .image_content_desktop {
        display: none;
    }

    .join_group_button {
        font-size: 1rem;
        padding: calc(8rem / 16) 1rem;
    }

    .prodct_image {
        width: 100%;
        height: auto;
    }

    .product_section_about_title {
        font-size: 1.5rem;
    }

    .caractry_text_propriety {
        font-size: 1em;
    }

    .caractry_text {
        font-size: 1em;
    }

    .buy_button_text {
        font-size: 1.5rem;
    }
}

