.container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.title_container {
    width: 100%;
    height: fit-content;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: var(--title-bottom-gap);
}

.title_container p {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16rem / 16);
    line-height: 150%;

    color: #023047;
}

.title_container a {
    font-family: 'Krub', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16rem / 16);
    line-height: 150%;

    color: #3e7fd0;

    text-decoration: underline;
    text-decoration-color: #3292ff00;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    transition: text-decoration-color 0.1s ease;
}

.title_container a:hover {
    text-decoration-color: #3e7fd0;
}

.slider_container {
    width: 100%;
    max-width: 100vw;
    max-width: fit-content;
    position: relative;
    padding: 10px 30px;
}

.slider_items_wrapper {
    display: flex;
    gap: 16px;
}
