.title {
    padding: 0 10%;

    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-size: calc(48rem / 16);
    line-height: 1.15;
    color: var(--color-blue);

    white-space: pre-line;
    text-align: center;
}

.title > span {
    color: black;
    background: linear-gradient(150deg, #d8965c 29.68%, #b5519f 99.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 42.5rem) {
    .title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 30rem) {
    .title {
        font-size: 2rem;
    }
}
